html, body {
    margin: 0;
    padding: 0;
}
.header {
 margin:20px;
    font-size: large;
    color: White;
}

  
  body {
     color: Black;
    background-image:url("https://assets.hongkiat.com/uploads/beautiful-minimalist-desktop-wallpapers/4k/original/01.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   
      
  }
  .footer {
    
    width: 100%;
    background-color:black;
    color: whitesmoke;
     text-align: center;
 }
 